<%= form_for(@skill_aptitude) do |f| %>
  <% if @skill_aptitude.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill_aptitude.errors.count, "error") %> prohibited this skill_aptitude from being saved:</h2>

      <ul>
      <% @skill_aptitude.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
