$green: #00FF00;
$red: #C00000;
$black: #000000;


.remove_fields{
  color: $red;
  &:hover {
    color: $red;
    background-color: $black;
  }
}

.add_fields{
  color: $green;
  &:hover {
    color: $green;
    background-color: $black;
  }
}